<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div th:object="${user}">
  <p><b>Hello , </b> <span th:utext="*{name}"></span></p>
  <p><b>Your Email: </b> <span th:utext="*{email}"></span></p>
  <p><b>Your Id: </b> <span th:utext="*{id}"></span></p>
  <tr th:each="role : ${user.getRoles()}">
    <p><span th:utext="${role.name}"></span></p>
  </tr>

</div>
<a href="/crud/logout">LogOut</a>

</body>
</html>