<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${user}">
    <p><b>User Id: </b> <span th:utext="${user.id}"></span></p>
    <form method="post" th:action="@{/admin/update}" th:object="${updateUser}">
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="text" name="name" th:value="${user.name} ">
        <input type="text" name="login" th:value="${user.login} ">
        <input type="text" name="email" th:value="${user.email} ">
        <p><select name="role" size="3" multiple>
            <option value="ROLE_ADMIN">Admin</option>
            <option value="ROLE_USER">User</option>
        </select>
            <input type="submit" value="Update">
    </form>
    <a th:href="@{/admin/user/{id} (id=${user.id})}">Back</a> <br>
</div>
<a href="/crud/logout">LogOut</a>
</body>
</html>