<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>List of users</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>E-Mail</th>
        <th>Name</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.name}"></td>
        <td>

        <form th:method="POST" th:action="@{/admin/delete}" th:object="${user}">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <input type="submit" value="delete">

        </form>
        </td>
        <td>
        <a th:href="@{/admin/user/{id}(id=${user.id})}">User Page</a>
        </td>
    </tr>
    <tr>
        <form th:method="POST" th:action="@{/admin/registration}" th:object="${newUser}">
            <td><input type="text" placeholder="Login" th:field="*{login}"></td>
            <td><input type="text" placeholder="E-Mail" th:field="*{email}"></td>
            <td><input type="text" placeholder="Name" th:field="*{name}"></td>
            <td><input type="text" placeholder="Password" th:field="*{password}"></td>
            <td>
                <p><select name="role" size="3" multiple>
                    <option value="ROLE_ADMIN">Admin</option>
                    <option value="ROLE_USER">User</option>
                </select>
            </td>
            <td><input type="submit" value="create"></td>

        </form>
    </tr>
</table>
<a href="/crud/admin">Return</a>
<a href="/crud/logout">LogOut</a>
</body>
</body>
</html>